body {
    min-height: 2000px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sbideo-main {
    margin: auto;
}

.label {
    cursor: pointer;
}

.activeVideo {
    font-weight: bold;
}

#activeVideoMeta {
    padding: 30px;
}

.searchBar {
    padding-top: 30px;
}

#searchField {
    width: 50%;
    text-align: center;
    margin: auto;
}

#itemList {
    padding: 0 30px;
}

.breakWords {
    word-wrap: break-word;
}


/** Old browser warning */
.old-browser-warning {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0f0;
  height: 100px;
  left: 0;
}

/** Detect firefox older than quantum and browser without css grid support */
@supports (not (animation: calc(0s))) or (not (display: grid)) {
   .old-browser-warning {
      display: block;
   }
}

/** Detect Internet Explorer */
@media all and (-ms-high-contrast:none) {
   .old-browser-warning {
      display: block;
   }
}
